<section class="section-services section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Nos services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="bi bi-cart"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Vente</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sed atque corporis quia repellat ea, molestiae numquam accusamus, perspiciatis non quis ullam provident dolorem temporibus dolorum autem eos. Corporis, aut.
                        </p>
                    </div>
                    <div class="card-footer-c">
                        <a href="#" class="link-c link-icon">Lire la suite
                            <span class="bi bi-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="bi bi-calendar4-week"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Location</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum odit sunt consequuntur vitae dignissimos, quam harum dicta distinctio deleniti placeat assumenda cumque tenetur et. Suscipit reiciendis tempora unde assumenda nisi?
                        </p>
                    </div>
                    <div class="card-footer-c">
                        <a href="#" class="link-c link-icon">Lire la suite
                            <span class="bi bi-calendar4-week"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="bi bi-card-checklist"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Conseil</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis molestiae placeat ratione hic porro est eveniet delectus, quasi quidem, architecto obcaecati a pariatur voluptate eaque. Commodi fugiat perferendis ea beatae?
                        </p>
                    </div>
                    <div class="card-footer-c">
                        <a href="#" class="link-c link-icon">Lire la suite
                            <span class="bi bi-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>